name: Build

on:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-upload:
    name: Build and Upload
    strategy:
      matrix:
        os:  [linux, macos]
    runs-on: ${{ fromJSON('{"linux":"ubuntu-latest","macos":"macos-15"}')[matrix.os] }}

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Build msquic
      run: ./scripts/msquic.sh
    - name: Compress build output
      run: |
        ls -lhR build
        tar czf build.tar.gz build/
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.os }}-build
        path: build.tar.gz
        retention-days: 1
